<a href="https://colab.research.google.com/github/isdavimoraes/Individual_1_mod4/blob/main/projeto_indi_mod4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Contexto

**Uma determinada loja deseja produzir relatórios
semanais com ganhos e despesas.O gerente da
loja te contratou para gerar um relatório de uma semana para mostrar ao dono da loja como a
análise dos dados pode ser útil para eles.
Para isso, ele te enviou uma tabela de exemplo das despesas de uma semana:**

|Dia|Limpeza|Comida|Transporte|Outros|
|---|---|---|---|---|
|Segunda|100|221,60|150|0|
|Terça|0|375,31|100|0|
|Quarta|100|412,0|125|2310|
|Quinta|0|495,20|300|500|
|Sexta|100|411,53|275|0|
|Sábado|100|245,00|525|0|
|Domingo|0|164,00|75|820|


**Além disso, ele informou que os ganhos não estão nessa planilha, mas que ele
possui a seguinte lista:** 2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893
**respectivos aos dias da semana. 
Ele te deixou bem livre para incluir no relatório as estatísticas que desejar.**

#Criação da Tabela

In [29]:
#Import das bibliotecas pandas e numpy
import pandas as pd
import numpy as np

#Criação da tabela que é mostrado no slide com array
dados = {'Dias': ['Segunda','Terça', 'Quarta', 'Quinta', 'Sexta','Sábado','Domingo'],
         'Limpeza':[100,0,100,0,100,100,0],
         'Comida':[221.60,375.31,412.00,495.20,411.53,245.00,164.00],
         'Transporte':[150,100,125,300,275,525,75],
         'Outros':[0,0,2310,500,0,0,820]}
df = pd.DataFrame(dados,index = [170423,180423,190423,200423,210423,220423,230423])
df

           Dias  Limpeza  Comida  Transporte  Outros
170423  Segunda      100  221.60         150       0
180423    Terça        0  375.31         100       0
190423   Quarta      100  412.00         125    2310
200423   Quinta        0  495.20         300     500
210423    Sexta      100  411.53         275       0
220423   Sábado      100  245.00         525       0
230423  Domingo        0  164.00          75     820

In [30]:
#Inclusão dos ganhos na tabela

df['Ganhos'] = [2200,2420.50,3391,5322,4898.50,4200,3893]
df

           Dias  Limpeza  Comida  Transporte  Outros  Ganhos
170423  Segunda      100  221.60         150       0  2200.0
180423    Terça        0  375.31         100       0  2420.5
190423   Quarta      100  412.00         125    2310  3391.0
200423   Quinta        0  495.20         300     500  5322.0
210423    Sexta      100  411.53         275       0  4898.5
220423   Sábado      100  245.00         525       0  4200.0
230423  Domingo        0  164.00          75     820  3893.0

#Gerando Relatorio

**Gere um relatório de uma semana para mostrar ao dono da loja como a análise dos
dados pode ser útil e incluir no relatório outros itens:**

1. A subtração de impostos dos ganhos diários, que nesta semana foi de 7%;
2. A soma total dos ganhos;
3. A média semanal dos ganhos;
4. A soma total das despesas por categoria;
5. A média semanal de todas as despesas;
6. O lucro diário para informar qual dia foi mais lucrativo e o lucro total da semana;
7. Uma organização com textos explicando o que foi feito para obter os valores e
os resultados bem apresentados.

# 1.Subtração  de impostos dos ganhos diários

In [31]:
#Criando novas tabelas para relalziar o calculo
df['Impostos'] = (df['Ganhos'] * 7)/100
df['Ganhos s/Impostos'] = df['Ganhos'] - df['Impostos']
df


#Ou realizar a mesma operação sem precisar criar novas tabelas
#calcular_imposto = lambda x: (x - (x*7)/100)
#print(calcular_imposto(df['Ganhos']))

,Dias,Limpeza,Comida,Transporte,Outros,Ganhos,Impostos,Ganhos s/Impostos
170423,Segunda,100,221.60,150,0,2200.0,154.000,2046.000
180423,Terça,0,375.31,100,0,2420.5,169.435,2251.065
190423,Quarta,100,412.00,125,2310,3391.0,237.370,3153.630
200423,Quinta,0,495.20,300,500,5322.0,372.540,4949.460
210423,Sexta,100,411.53,275,0,4898.5,342.895,4555.605
220423,Sábado,100,245.00,525,0,4200.0,294.000,3906.000
230423,Domingo,0,164.00,75,820,3893.0,272.510,3620.490

#2.Soma total dos ganhos

In [ ]:
#Somando todaa coluna Ganhos utilziando a função SUM
soma_ganhos = df['Ganhos'].sum()
soma_ganhos

# 3.Média Semanal dos ganhos

In [6]:
#Pegando a média da coluna Ganhos usando a função MEAN e usando FORMAT para uma melhor visualização.

media = df['Ganhos'].mean()
print ('{:.2f}'.format(media))

3760.71

# 4.Soma Total das despesas por categoria

In [7]:
#Foi realizado um print usando a função SUM para somar os valores da linha e dar o total da coluna de cada 
print('A soma total da despesa com limpeza é de : ',df['Limpeza'].sum(),'\nA soma total da despesa com comida é de : ',df['Comida'].sum(),'\nA soma total da despesa com transporte é de : ',df['Transporte'].sum(),'\nA soma total da despesa com outros é de : ',df['Outros'].sum())

A soma total da despesa com limpeza é de :  400
A soma total da despesa com comida é de :  2324.64
A soma total da despesa com transporte é de :  1550
A soma total da despesa com outros é de :  3630

# 5.Media semanal de todas as despesas

In [8]:
soma_despesas = (df['Limpeza'].sum() + df['Comida'].sum() + df['Transporte'].sum() + df['Outros'].sum())/ 4
soma_despesas
print('O valor da média semanal das despesas foi de : ', '{:.2f}'.format(soma_despesas))

O valor da média semanal das despesas foi de :  1976.16

#6.Dia mais Lucrativo e o lucro total da semana.

In [40]:
#Lucro total de cada dia
#Criei uma nova tabela chamada Despesas, onde ele soma todos os valores das despesas Limpeza,Comida, Transporte e Outros.
#Depois criei uma nova tabela chamada Lucro, onde ela pega os Ganhos já diminuidos sem impostos e diminuidos pela despesas.
#Assim, na tabela Lucro fica aparecendo o lucro de cada dia.
df['Despesas'] = df[['Limpeza','Comida','Transporte','Outros']].sum(axis = 1)
df['Lucro'] = df['Ganhos s/Impostos'] - df['Despesas']
df['Lucro'].max()
df

,Dias,Limpeza,Comida,Transporte,Outros,Ganhos,Impostos,Ganhos s/Impostos,Despesas,Lucro
170423,Segunda,100,221.60,150,0,2200.0,154.000,2046.000,471.60,1574.400
180423,Terça,0,375.31,100,0,2420.5,169.435,2251.065,475.31,1775.755
190423,Quarta,100,412.00,125,2310,3391.0,237.370,3153.630,2947.00,206.630
200423,Quinta,0,495.20,300,500,5322.0,372.540,4949.460,1295.20,3654.260
210423,Sexta,100,411.53,275,0,4898.5,342.895,4555.605,786.53,3769.075
220423,Sábado,100,245.00,525,0,4200.0,294.000,3906.000,870.00,3036.000
230423,Domingo,0,164.00,75,820,3893.0,272.510,3620.490,1059.00,2561.490

In [41]:
#Dia mais lucrativo
#Fiz uma váriavel selecionando as colunas Dias e Lucro, depois utilizei a função SORT_VALUES e ordenei pelo maior Lucro.

Dia_mais_Lucrativo = df[['Dias','Lucro']]
Dia_mais_Lucrativo.sort_values(by = 'Lucro',ascending=False ).round(2)

           Dias    Lucro
210423    Sexta  3769.08
200423   Quinta  3654.26
220423   Sábado  3036.00
230423  Domingo  2561.49
180423    Terça  1775.76
170423  Segunda  1574.40
190423   Quarta   206.63

In [42]:
#Lucro total da semana
soma_lucro = df['Lucro'].sum()
print('O Lucro total da semana foi de: ', soma_lucro)

O Lucro total da semana foi de:  16577.61